*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{

    font-size: 62.5%
}

h1{
font-size: 2.5rem;
}

li,
button,
label,
input,
p{
    font-size: 2rem;
}

.main-head{
    background-color: white;

   
    
  
}

.hero{
    background: url(img/pexels-nicole-avagliano-2312040.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;


    
}

.hero div{
  
        
        background-size: cover;
        position: fixed;
        top: 650px;
        right:60px;
        width: 1cm;
        height: 1cm;
        cursor: pointer;
    }


a li{
    text-decoration: none;
    cursor: pointer;
    color: black
    
    
    
}

nav{
  min-height: 10vh;
  display: flex;
  width: 90%;
  margin: auto;

  
}

nav ul {


    display: flex;
    flex: 1 1 40rem;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;

}

.logo{
    flex: 3 1  40rem;
    margin-top: 25px;
}

.button{

    background-color: black;
    padding: 20px 30px;
    margin-top: 30px;
    color: white;
    cursor: pointer;
    border: none;
    

}




h2{
    color: white;
    font-size: 10rem;
    margin-top: 80px;
    
    

}   

p{
    color: white;
    font-size: 3rem;
    opacity: 0.8
}