*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{

    font-size: 62.5%
}

h1{
font-size: 2.5rem;
}


button,
label,
input,
p{
    font-size: 2rem;
}

.main-head{
    
background-color: white;
color: black;

   
    
  
}

.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.6), transparent), url(img/pexels-nicole-avagliano-2312040.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;


    
}



a li{
    text-decoration: none;
    cursor: pointer;
    
  

    
    
    
}

nav{
  min-height: 10vh;
  display: flex;
  width: 90%;
  margin: auto;

  
}

nav ul {


    display: flex;
    flex: 1 1 40rem;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-size: 1.8rem;
    color: black;

}

.logo{
    flex: 3 1  40rem;
    margin-top: 25px;
}

.button{

    background-color: slategray;
    padding: 20px 20px;
    margin-top: 30px;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 1.5rem;
    border-radius: 8px;
    transition-duration: 2s;
    border-style: none;
    
    

}

.button:hover {
    background-color: white;
    color: black;
    border: none;
  }




h2{
    color: white;
    font-size: 7.5rem;
    margin-top: 80px;
    font-weight: 100;
    
    
    

}   

p{
    color: white;
    font-size: 3rem;
    opacity: 0.8;
    font-weight: 100;
    margin-top: 20px;
}